<div class="arcade-nav-header">
    <MudText Class="arcade-logo-sub">INVENTORY</MudText>
</div>
<nav class="arcade-nav">
    <NavLink class="arcade-nav-link" href="" Match="NavLinkMatch.All">
        >> HOME
    </NavLink>
    
    <NavLink class="arcade-nav-link" href="products">
        >> PRODUCTS
    </NavLink>
    
    <NavLink class="arcade-nav-link" href="categories">
        >> CATEGORIES
    </NavLink>

    <NavLink class="arcade-nav-link" href="stock">
        >> STOCK
    </NavLink>

    <NavLink class="arcade-nav-link" href="changelog">
        >> CHANGE LOG
    </NavLink>
</nav>
<div class="arcade-nav-footer">
    <MudText Typo="Typo.h4" Class="arcade-blink">SEARCH YOUR DETAILS</MudText>
</div>
